= simple_form_for @page, url: {action: action, controller: :page} do |f|
  = f.error_notification
  - f.with_options input_html: { class: :span6 } do |f|
    = f.input :title, placeholder: t('.no_more_than_140_characters'), as: :string
    = f.input :body, as: :ckeditor, input_html: { ckeditor: {toolbar: 'Full'} }
    = f.input :place_in_top_navbar
    .actions
      = f.button :submit, class: 'btn btn-success btn-large'
