= simple_form_for @user, url: { action: action, controller: :users }, html: { class: 'form-horizontal' } do |f|
  = f.input :email
  = f.input :old_password
  = f.input :password
  = f.input :first_name, as: :string
  = f.input :last_name, as: :string
  = f.input :state, as: :hidden
  = f.input :admin
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_users_path, class: 'btn'
